{% extends "layout.html" %} {% block head %}
<title>Home Page</title>
<link rel="stylesheet" href="/static/style.css">
{% endblock %} {% block body %}
<div class="container">
<div>
  <h1><b>Welcome to the homepage!</b></h1>
</div>
<div>Please register below:</div>
<div>
  <form action="/submitregister" method="post">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" autocomplete="off" required />
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="off"
      required
    /><br> 
    <br><label for="conf_pw">Confirm Password: </label><br>
    <input
      type="password"
      id="conf_pw"
      name="conf_pw"
      autocomplete="off"
      required
    />
    <button type="submit">Register</button>
  </form>
</div>
<form action="/login"><button type="submit">Login</button></form>
{% endblock %}
